@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: 'Overpass', sans-serif;
}

h3 {
  font-weight: 400;
  color: var(--white);
}

p {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--light-gray);
}

main {
  max-width: 350px;
  max-height: 50vh;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.card {
  border-radius: 20px;
  background: var(--very-dark-blue);
}

.circle {
  background: var(--dark-blue);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--medium-gray);
}

button {
  height: 55px;
  background: var(--orange);
  border-color: transparent;
  border-radius: 25px;
  color: var(--white);
  font-size: 0.9em;
  letter-spacing: 1px;
}

.hide {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 0;
}
